<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Подтверждение регистрации</title>
    <!-- JQuery -->

    <script th:src="@{/js/jquery-1.10.0.min.js}"></script>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/signin.css}" rel="stylesheet"/>
    <link th:href="@{/css/flag-icon.css}" rel="stylesheet"/>

    <script th:src="@{/js/bootstrap.bundle.js}"></script>

    <!--Bootstrap-select -->
    <!-- Latest compiled and minified JavaScript -->

    <link rel="stylesheet" th:href="@{/css/bootstrap-select-1.14.0-beta2.min.css}">
    <script th:src="@{/js/bootstrap-select-1.14.0-beta2.min.js}"></script>

    <script th:src="@{/js/selectLanguage.js}"></script>

    <style>
        p.pStyle {
        margin: auto 1em auto 1em
        }

    </style>
</head>
<body>
<div class="container">
    <div th:insert="~{fragments/language :: language_fragment}"></div>
    <div th:insert="~{fragments/greetingAndLogout :: greeting_logout_fragment}"></div>

    <form name="f" class="form-signin" method="get"
          th:action="${confirmAction}">
<!--          th:action="@{/um/users/confirmUser}">-->
        <h2 class="form-signin-heading" align="center" th:text="${title}">Подтверждение регистрации</h2>
        <p>
            <label for="login" class="sr-only" th:text="${loginText}">Логин пользователя</label>
            <input type="text" id="login" name="login" class="form-control"
                   th:placeholder="${loginText}" required autofocus>
        </p>
        <p>
            <label hidden for="lang" class="sr-only"></label>
            <input hidden type="text" id="lang" name="lang" class="form-control" th:value="${urlLang}">
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit"
                th:text="${submitButtonTitle}">Подтвердить</button>
    </form>
</div>
</body>