<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title th:text="${title}">Изменение пароля</title>

    <!-- JQuery -->

    <script th:src="@{/js/jquery-1.10.0.min.js}"></script>

    <script th:src="@{/js/crypt.js}"></script>
    <script th:src="@{/js/AES.js}"></script>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/flag-icon.css}" rel="stylesheet"/>

    <script th:src="@{/js/bootstrap.bundle.js}"></script>

    <!--Bootstrap-select -->
    <!-- Latest compiled and minified JavaScript -->

    <link rel="stylesheet" th:href="@{/css/bootstrap-select-1.14.0-beta2.min.css}">
    <script th:src="@{/js/bootstrap-select-1.14.0-beta2.min.js}"></script>

    <script th:src="@{/js/selectLanguage.js}"></script>
    <link th:href="@{/css/signin.css}" rel="stylesheet"/>
    <script th:src="@{/js/usman-scripts.js}"></script>
    <script th:src="@{/js/jsencrypt.min.js}"></script>

    <script th:inline="javascript">
        function crypt(){
	        var password;
	        var pass;
	        password = $("#newPassword").val();
            try{
                password = [(${encryptMethodName})](password);
                $("#newPassword").val(password);
		    }catch(err){
                alert(err);
                return false;
            }
            password = $("#currentPassword").val();
            try{
                password = [(${encryptMethodName})](password);
                $("#currentPassword").val(password);
            }catch(err){
                alert(err);
                return false;
            }
        }

    </script>

</head>
<body>
<div class="container">
    <div th:insert="~{fragments/language :: language_fragment}"></div>
    <div th:insert="~{fragments/greetingAndLogout :: greeting_logout_fragment}"></div>

    <form name="f" class="form-signin" th:method="patch" th:action="'?lang=' + ${urlLang}"
          onSubmit="return crypt()">
        <h2 class="form-signin-heading" align="center" th:text="${title}">Изменение пароля</h2>
        <div class="alert alert-danger" th:if="${param.error}" role="alert">
            <p align="center">
                <span th:text="${param.errorMsg}">Description</span>
            </p>
        </div>
        <div th:if="${param.success}" class="alert alert-success">
            <p align="center">
                <span th:text="${param.successMsg}">Description</span>
            </p>
        </div>
        <p>
            <label for="currentPassword" class="sr-only" th:text="${passwordTitle}">Текущий пароль</label>
            <input type="password" id="currentPassword" name="currentPassword" class="form-control"
                   th:placeholder="${passwordTitle}" required autofocus>
        </p>
        <p>
            <label for="newPassword" class="sr-only" th:text="${newPasswordTitle}">Новый пароль</label>
            <input type="password" id="newPassword" name="newPassword" class="form-control"
                   th:placeholder="${newPasswordTitle}" required>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="${submitButtonTitle}">Изменить</button>
    </form>
</div>
</body>
</html>