<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title th:text="${title}">Авторизация</title>

    <!-- JQuery -->
    <script th:src="@{/js/jquery-1.10.0.min.js}"></script>

    <script th:each="secureScript:${secureScripts}" th:src="${secureScript}"></script>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/signin.css}" rel="stylesheet"/>
    <link th:href="@{/css/flag-icon.css}" rel="stylesheet"/>

    <script th:src="@{/js/bootstrap.bundle.js}"></script>

    <!--Bootstrap-select -->
    <link rel="stylesheet" th:href="@{/css/bootstrap-select-1.14.0-beta2.min.css}">
    <script th:src="@{/js/bootstrap-select-1.14.0-beta2.min.js}"></script>

    <script th:src="@{/js/selectLanguage.js}"></script>
    <script th:src="@{/js/usman-scripts.js}"></script>


    <script th:inline="javascript">
        function crypt(){
	        var password;
	        var pass;
	        password = $("#password").val();

            try{
		        password = [(${encryptMethodName})](password);
		        $("#password").val(password);
            }catch(err){
                alert(err);
                return false;
            }
        }
    </script>

</head>
<body>
<div class="container">
    <div th:insert="~{fragments/language :: language_fragment}"></div>

    <form th:if="${registrationAllowed}" name="form-register" method="get" target="_blank">
        <div class="container" align="right">
            <p>
                <label hidden for="lang" class="sr-only"></label>
                <input hidden type="text" id="lang" name="lang" class="form-control" th:value="${urlLang}">
            </p>
            <button class="btn btn-lg btn-primary btn-block" style="margin-top:1em"
                    th:formaction="@{/um/users/registration}" th:formmethod="get"
                    th:text="${registerButton}">Register
            </button>
        </div>

    </form>

    <form name="f" class="form-signin" method="post" th:action="@{perform-login} + '?lang=' + ${urlLang}"
          onSubmit="return crypt()">
        <h2 th:if="${!loginTitle.isEmpty()}" th:text="${loginTitle}" class="form-signin-heading" align="center"></h2>
        <h2 class="form-signin-heading" align="center" th:text="${signInLabel}">Вход</h2>
        <div class="alert alert-danger" th:if="${param.error}" role="alert" th:text="${badCredentialsMessage}">
            Неправильные имя или пароль
        </div>
        <div th:if="${param.logout}" class="alert alert-success" th:text="${logoutMessage}">
            Вы вышли!
        </div>
        <p>
            <label for="username" class="sr-only" th:text="${userName}">Имя пользователя</label>
            <input type="text" id="username" name="username" class="form-control" th:placeholder="${userName}" required
                   autofocus>
        </p>
        <p>
            <label for="password" class="sr-only" th:text="${password}">Пароль</label>
            <input type="password" id="password" name="password" class="form-control" th:placeholder="${password}"
                   required>
        </p>
        <p>
            <a th:href="@{/um/users/passwordRecovery} + '?lang=' + ${urlLang}" th:text="${forgotPassword}">Забыли пароль?</a>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="${signInButton}">Войти</button>

        <p>
            <a th:if="${googleAuthAllowed}" class="btn-lg btn-google btn-block text-uppercase btn-outline" style="padding:0" th:href="@{/oauth2/authorization/google}"><img src="/img/google-logo.png">Google</a>
        </p>
    </form>
</div>
</body>
</html>