<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title th:text="${title}">Регистрация пользователя</title>

    <!-- JQuery -->

    <script th:src="@{/js/jquery-1.10.0.min.js}"></script>

    <script th:src="@{/js/crypt.js}"></script>
    <script th:src="@{/js/AES.js}"></script>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/flag-icon.css}" rel="stylesheet"/>

    <script th:src="@{/js/bootstrap.bundle.js}"></script>

    <!--Bootstrap-select -->
    <!-- Latest compiled and minified JavaScript -->

    <link rel="stylesheet" th:href="@{/css/bootstrap-select-1.14.0-beta2.min.css}">
    <script th:src="@{/js/bootstrap-select-1.14.0-beta2.min.js}"></script>

    <link th:href="@{/css/signin.css}" rel="stylesheet"/>
    <script th:src="@{/js/selectLanguage.js}"></script>
    <script th:src="@{/js/usman-scripts.js}"></script>
    <script th:src="@{/js/jsencrypt.min.js}"></script>

    <script th:inline="javascript">
        function crypt(){
	        var password;
	        var pass;
	        password = $("#password").val();
            try{
                password = [(${encryptMethodName})](password);
                $("#password").val(password);
            }catch(err){
                alert(err);
                return false;
            }
            password = $("#confirmPassword").val();
            try{
                password = [(${encryptMethodName})](password);
                $("#confirmPassword").val(password);
            }catch(err){
                alert(err);
                return false;
            }
        }

    </script>

</head>
<body>

<div class="container">
    <div th:insert="~{fragments/language :: language_fragment}"></div>

    <form name="f" class="form-signin" method="post" th:action="@{perform-register} + '?lang=' + ${urlLang}" onSubmit="return crypt()">
        <h2 class="form-signin-heading" align="center" th:text="${title}">Регистрация</h2>
        <div class="alert alert-danger" th:if="${param.error}" role="alert">
            <p align="center">
                <span th:text="${errorMsg}">Description</span>
            </p>
        </div>
        <div class="alert alert-danger" th:if="${emailSendingFailed}" role="alert">
            <p align="center">
                <span th:text="${emailSendingFailedMessage}">Description</span>
            </p>
        </div>
        <div th:if="${param.success}" class="alert alert-success">
            <p align="center">
                <span th:text="${successMsg}">Description</span>
            </p>
        </div>
        <p>
            <label for="login" class="sr-only" th:text="${loginTitle}">Логин</label>
            <input type="text" id="login" name="login" class="form-control" th:placeholder="${loginTitle}"
                   required autofocus>
        </p>
        <p>
            <label for="username" class="sr-only" th:text="${userNameTitle}">Имя пользователя</label>
            <input type="text" id="username" name="username" class="form-control" th:placeholder="${userNameTitle}"
                   required autofocus>
        </p>
        <p>
            <label for="password" class="sr-only" th:text="${passwordTitle}">Пароль</label>
            <input type="password" id="password" name="password" class="form-control" th:placeholder="${passwordTitle}" required>
        </p>
        <p>
            <label for="confirmPassword" class="sr-only" th:text="${confirmPasswordTitle}">Повторите пароль</label>
            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" th:placeholder="${confirmPasswordTitle}"
                   required autofocus>
        </p>
        <p>
            <label for="email" class="sr-only" th:text="${emailTitle}">Электронная почта</label>
            <input type="email" id="email" name="email" class="form-control" th:placeholder="${emailTitle}" required>
        </p>
        <p>
            <label th:if="${isAdmin}" for="role" class="sr-only" th:text="${permissionsTitle}">Права доступа</label>
            <select th:if="${isAdmin}" id="role" name="role" class="form-control">
                <option>USER</option>
                <option>ADMIN</option>
            </select>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="${submitButtonTitle}">Зарегистрироваться</button>
    </form>
</div>
</body>
</html>