<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html"
      lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title th:text="${title}">Список пользователей</title>

    <!-- JQuery -->

    <script th:src="@{/js/jquery-1.10.0.min.js}"></script>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/flag-icon.css}" rel="stylesheet"/>

    <script th:src="@{/js/bootstrap.bundle.js}"></script>

    <!--Bootstrap-select -->
    <!-- Latest compiled and minified JavaScript -->

    <link rel="stylesheet" th:href="@{/css/bootstrap-select-1.14.0-beta2.min.css}">
    <script th:src="@{/js/bootstrap-select-1.14.0-beta2.min.js}"></script>

    <script th:src="@{/js/selectLanguage.js}"></script>

    <style>
        p.pStyle {
        margin: auto 1em auto 1em
        }

    </style>
</head>
<body>
    <h1 align="center" th:text="${title}">Список пользователей</h1>

    <div class="alert alert-danger" th:if="${error}" role="alert" th:text="${errorMsg}">
        Неправильные имя или пароль
    </div>

    <div class="container">
        <div th:insert="~{fragments/language :: language_fragment}"></div>
        <div th:insert="~{fragments/greetingAndLogout :: greeting_logout_fragment}"></div>

        <form name="f" class="form-signin" method="get">
            <input type="text" id="lang" name="lang" th:value="${urlLang}" hidden>
            <h2 class="form-signin-heading" align="center" th:text="${searchTitle}">Поиск</h2>
            <p>
                <label for="userId" class="sr-only" th:text="${userIdTitle}">Логин</label>
                <input type="text" id="userId" name="userId" class="form-control" th:placeholder="${userIdTitle}"
                       th:value="${userId}?${userId}:''" autofocus>
            </p>
            <p>
                <label for="login" class="sr-only" th:text="${loginTitle}">Логин</label>
                <input type="text" id="login" name="login" class="form-control" th:placeholder="${loginTitle}"
                       th:value="${login}?${login}:''">
            </p>
            <p>
                <label for="name" class="sr-only" th:text="${userNameTitle}">Имя пользователя</label>
                <input type="text" id="name" name="name" class="form-control" th:placeholder="${userNameTitle}"
                       th:value="${name}?${name}:''">
            </p>
            <p>
                <label for="email" class="sr-only" th:text="${emailTitle}">Электронная почта</label>
                <input type="text" id="email" name="email" class="form-control" th:placeholder="${emailTitle}"
                       th:value="${email}?${email}:''">
            </p>
            <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="${searchUser}">Поиск</button>
        </form>
    </div>


    <div class="container form-signin">
        <div class="row">
            <div class="col-lg-10 mt-5 mb-5" style="width:auto">
                <table id="usersTable" class="table table-bordered table-responsive-sm">
                    <thead>
                    <tr>
                        <th th:text="${userIdTitle}">Id</th>
                        <th th:text="${loginTitle}">Логин</th>
                        <th th:text="${userNameTitle}">Имя пользователя</th>
                        <th th:text="${emailTitle}">Электронная почта</th>
                        <th th:text="${roleTitle}">Роль</th>
                        <th th:text="${expirationDateTitle}">Дата окончания действия аккаунта</th>
                        <th th:text="${verifyIdTitle}">ID для верификации</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${users.page}">
                        <td th:text="${user.id}">Id</td>
                        <td th:text="${user.login}">login</td>
                        <td th:text="${user.name}">name</td>
                        <td th:text="${user.email}">email</td>
                        <td th:text="${user.authority}">authority</td>
                        <td th:text="${user.expirationDate}">expirationDate</td>
                        <td th:text="${user.verificationId}">verificationId</td>
                        <td>
                            <a th:href="@{'users/edit/' + ${user.id} + '?lang=' + ${urlLang}}" target="_blank">
                                <button th:text="${editUser}" type="button" class="btn btn-primary">edit user</button>
                            </a>
                        </td>
                        <td>
                            <form th:method="delete" th:action="@{users} + '?lang=' + ${urlLang}">
                                <input id = "id" type="number" name="id" th:value="${user.id}" hidden>
                                <input id = "pageSize" type="number" name="pageSize" th:value="${users.paging.pageSize}" hidden>
                                <input id = "pageNumber" type="number" name="pageNumber" th:value="${users.paging.pageNumber}" hidden>
                                <button th:text="${deleteUser}" type="submit" class="btn btn-primary">delete user</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <nav aria-label="Page navigation" class="paging">
                    <ul class="pagination" th:if="${users.page.totalPages > 1}">
                        <li class="page-item" th:classappend="${!users.paging.isPrevEnabled()? 'disabled' : ''}">
                            <a class="page-link" th:href="@{users + '?page=' + ${users.paging.pageNumber - 1}  + '&lang=' + ${urlLang}}"
                               tabindex="-1">Previous</a>
                        </li>
                        <th:block th:each="item : ${users.paging.getItems()}">
                            <li class="page-item" th:classappend="${item.index == users.paging.pageNumber? 'active' : ''}"
                                th:if="${item.pageItemType.name() == 'PAGE'}">
                                <a class="page-link" th:href="@{users + '?page=' + ${item.index}  + '&lang=' + ${urlLang}}"
                                   th:text="${item.index}"></a>
                            </li>
                            <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                                <a class="page-link" href="#">...</a>
                            </li>
                        </th:block>
                        <li class="page-item" th:classappend="${!users.paging.isNextEnabled()? 'disabled' : ''}">
                            <a class="page-link" th:href="@{users + '?page=' + ${users.paging.pageNumber + 1}  + '&lang=' + ${urlLang}}">Next</a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</body>
</html>